{
  "openapi": "3.0.0",
  "info": {
    "title": "SweepSteak Mock API",
    "version": "1.0.0",
    "description": "Mock API specification for SweepSteak mobile app development"
  },
  "servers": [
    {
      "url": "https://api.sweepsteak.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/users/me": {
      "get": {
        "summary": "Get User Profile",
        "description": "Get User Profile endpoint",
        "operationId": "get-user",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "handicap": {
                          "type": "integer"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Complete Profile": {
                    "summary": "Complete Profile",
                    "value": {
                      "data": {
                        "id": "mock-user-123",
                        "email": "mock@example.com",
                        "username": "mockuser",
                        "displayName": "Mock User",
                        "handicap": 15,
                        "createdAt": "<timestamp>"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "No Profile (404)": {
                    "summary": "No Profile (404)",
                    "value": {
                      "error": "User profile not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Server Error (500)": {
                    "summary": "Server Error (500)",
                    "value": {
                      "error": "Internal server error"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create User Profile",
        "description": "Create User Profile endpoint",
        "operationId": "create-profile",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string"
                        },
                        "username": {
                          "type": "string"
                        },
                        "displayName": {
                          "type": "string"
                        },
                        "handicap": {
                          "type": "integer"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": {
                      "data": {
                        "id": "new-user-123",
                        "email": "newuser@example.com",
                        "username": "newuser",
                        "displayName": "New User",
                        "handicap": 0,
                        "createdAt": "<timestamp>"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "field": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Username Taken": {
                    "summary": "Username Taken",
                    "value": {
                      "error": "Username already taken",
                      "field": "username"
                    }
                  },
                  "Invalid Data": {
                    "summary": "Invalid Data",
                    "value": {
                      "error": "Invalid profile data",
                      "details": "Username must be at least 3 characters"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Server Error (500)": {
                    "summary": "Server Error (500)",
                    "value": {
                      "error": "Failed to create profile"
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "username": {
                    "type": "string"
                  },
                  "displayName": {
                    "type": "string"
                  },
                  "handicap": {
                    "type": "integer"
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}