{
  "openapi": "3.0.0",
  "info": {
    "title": "SweepSteak Mock API",
    "version": "1.0.0",
    "description": "Mock API specification for SweepSteak mobile app development"
  },
  "servers": [
    {
      "url": "https://api.sweepsteak.com",
      "description": "Production server"
    }
  ],
  "paths": {
    "/api/bets/": {
      "post": {
        "summary": "Create Bet",
        "description": "Create Bet endpoint",
        "operationId": "create-bet",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "data": {
                    "summary": "data",
                    "value": null
                  }
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Insufficient Funds": {
                    "summary": "Insufficient Funds",
                    "value": null
                  },
                  "Invalid Data": {
                    "summary": "Invalid Data",
                    "value": null
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Server Error": {
                    "summary": "Server Error",
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/games": {
      "get": {
        "summary": "Get Games List",
        "description": "Get Games List endpoint",
        "operationId": "get-games",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "tournament_id": {
                            "type": "string"
                          },
                          "entry_fee": {
                            "type": "integer"
                          },
                          "join_code": {
                            "type": "string"
                          },
                          "max_participants": {
                            "type": "integer"
                          },
                          "current_participants": {
                            "type": "integer"
                          },
                          "contact_phone": {
                            "type": "string"
                          },
                          "contact_email": {
                            "type": "string"
                          },
                          "contact_visibility": {
                            "type": "string"
                          },
                          "rewards": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "position": {
                                  "type": "integer"
                                },
                                "amount": {
                                  "type": "integer"
                                },
                                "percentage": {
                                  "type": "integer"
                                }
                              }
                            }
                          },
                          "start_time": {
                            "type": "string"
                          },
                          "end_time": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "is_featured": {
                            "type": "boolean"
                          },
                          "owner_id": {
                            "type": "string"
                          },
                          "user_id_list": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": {
                      "data": [
                        {
                          "id": "1",
                          "name": "Memnons GOLF",
                          "description": "Join the biggest Masters sweepstake of the season!",
                          "tournament_id": "1",
                          "entry_fee": 785,
                          "join_code": "34634",
                          "max_participants": 100,
                          "current_participants": 43,
                          "contact_phone": "+44 7700 900000",
                          "contact_email": "memnon@sweepsteak.com",
                          "contact_visibility": "public",
                          "rewards": [
                            {
                              "position": 1,
                              "amount": 200000,
                              "percentage": 60
                            },
                            {
                              "position": 2,
                              "amount": 100000,
                              "percentage": 30
                            },
                            {
                              "position": 3,
                              "amount": 35973,
                              "percentage": 10
                            }
                          ],
                          "start_time": "2026-04-09T08:00:00Z",
                          "end_time": "2026-04-12T20:00:00Z",
                          "type": "public",
                          "is_featured": true,
                          "owner_id": "user-123",
                          "user_id_list": [
                            "user-123",
                            "user-456",
                            "user-789"
                          ],
                          "created_at": "2025-10-01T10:00:00Z",
                          "updated_at": "2025-10-20T15:30:00Z"
                        },
                        {
                          "id": "2",
                          "name": "Pauls PinLads",
                          "description": "Private league for the pin seekers",
                          "tournament_id": "1",
                          "entry_fee": 567,
                          "join_code": "33634",
                          "max_participants": 80,
                          "current_participants": 51,
                          "contact_phone": "+44 7700 900001",
                          "contact_email": "paul@sweepsteak.com",
                          "contact_visibility": "participants",
                          "rewards": [
                            {
                              "position": 1,
                              "amount": 171252,
                              "percentage": 60
                            },
                            {
                              "position": 2,
                              "amount": 85626,
                              "percentage": 30
                            },
                            {
                              "position": 3,
                              "amount": 28542,
                              "percentage": 10
                            }
                          ],
                          "start_time": "2026-04-09T08:00:00Z",
                          "end_time": "2026-04-12T20:00:00Z",
                          "type": "public",
                          "is_featured": false,
                          "owner_id": "user-456",
                          "user_id_list": [
                            "user-456"
                          ],
                          "created_at": "2025-10-02T12:00:00Z",
                          "updated_at": "2025-10-21T09:15:00Z"
                        },
                        {
                          "id": "3",
                          "name": "BIG Johns League",
                          "description": "Go big or go home!",
                          "tournament_id": "1",
                          "entry_fee": 1200,
                          "join_code": "34634",
                          "max_participants": 50,
                          "current_participants": 24,
                          "contact_phone": null,
                          "contact_email": "bigjohn@sweepsteak.com",
                          "contact_visibility": "private",
                          "rewards": [
                            {
                              "position": 1,
                              "amount": 113700,
                              "percentage": 60
                            },
                            {
                              "position": 2,
                              "amount": 56850,
                              "percentage": 30
                            },
                            {
                              "position": 3,
                              "amount": 18950,
                              "percentage": 10
                            }
                          ],
                          "start_time": "2026-04-09T08:00:00Z",
                          "end_time": "2026-04-12T20:00:00Z",
                          "type": "private",
                          "is_featured": false,
                          "owner_id": "user-789",
                          "user_id_list": [
                            "user-789"
                          ],
                          "created_at": "2025-10-03T14:30:00Z",
                          "updated_at": "2025-10-20T11:00:00Z"
                        },
                        {
                          "id": "4",
                          "name": "KING GOLF",
                          "description": "For the kings of the course",
                          "tournament_id": "2",
                          "entry_fee": 450,
                          "join_code": "33634",
                          "max_participants": 40,
                          "current_participants": 22,
                          "contact_phone": "+44 7700 900003",
                          "contact_email": null,
                          "contact_visibility": "public",
                          "rewards": [
                            {
                              "position": 1,
                              "amount": 75534,
                              "percentage": 60
                            },
                            {
                              "position": 2,
                              "amount": 37767,
                              "percentage": 30
                            },
                            {
                              "position": 3,
                              "amount": 12589,
                              "percentage": 10
                            }
                          ],
                          "start_time": "2026-06-12T08:00:00Z",
                          "end_time": "2026-06-15T20:00:00Z",
                          "type": "public",
                          "is_featured": true,
                          "owner_id": "user-321",
                          "user_id_list": [
                            "user-321"
                          ],
                          "created_at": "2025-10-04T16:45:00Z",
                          "updated_at": "2025-10-19T13:20:00Z"
                        }
                      ]
                    }
                  },
                  "Empty List": {
                    "summary": "Empty List",
                    "value": null
                  },
                  "data": {
                    "summary": "data",
                    "value": null
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Server Error": {
                    "summary": "Server Error",
                    "value": {
                      "error": "Failed to process request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/": {
      "post": {
        "summary": "Create User Profile",
        "description": "Create User Profile endpoint",
        "operationId": "create-profile",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": null
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Username Taken": {
                    "summary": "Username Taken",
                    "value": null
                  },
                  "Invalid Data": {
                    "summary": "Invalid Data",
                    "value": null
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Server Error (500)": {
                    "summary": "Server Error (500)",
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/tournaments": {
      "get": {
        "summary": "Get Tournaments List",
        "description": "Get Tournaments List endpoint",
        "operationId": "get-tournaments",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "starts_at": {
                            "type": "string"
                          },
                          "finishes_at": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "cover_picture": {
                            "type": "string"
                          },
                          "gallery": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "holes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ads": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "proposed_entry_fee": {
                            "type": "integer"
                          },
                          "maximum_cut_amount": {
                            "type": "integer"
                          },
                          "maximum_score_generator": {
                            "type": "integer"
                          },
                          "players": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updated_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "Success": {
                    "summary": "Success",
                    "value": {
                      "data": [
                        {
                          "id": "tournament-1",
                          "name": "The Masters",
                          "starts_at": "2026-04-09T08:00:00.000Z",
                          "finishes_at": "2026-04-12T18:00:00.000Z",
                          "description": "The Masters Tournament, one of golf's four major championships.",
                          "url": "https://example.com/masters",
                          "cover_picture": "https://images.unsplash.com/photo-1535131749006-b7f58c99034b?w=400",
                          "gallery": [],
                          "holes": [],
                          "ads": [],
                          "proposed_entry_fee": 100,
                          "maximum_cut_amount": 50,
                          "maximum_score_generator": 100,
                          "players": [],
                          "created_at": "<timestamp>",
                          "updated_at": "<timestamp>"
                        },
                        {
                          "id": "tournament-2",
                          "name": "The Open Championship",
                          "starts_at": "2025-07-17T08:00:00.000Z",
                          "finishes_at": "2025-07-20T18:00:00.000Z",
                          "description": "The Open Championship, the oldest of golf's major championships.",
                          "url": "https://example.com/open",
                          "cover_picture": "https://images.unsplash.com/photo-1587174486073-ae5e5cff23aa?w=400",
                          "gallery": [],
                          "holes": [],
                          "ads": [],
                          "proposed_entry_fee": 75,
                          "maximum_cut_amount": 40,
                          "maximum_score_generator": 90,
                          "players": [],
                          "created_at": "<timestamp>",
                          "updated_at": "<timestamp>"
                        },
                        {
                          "id": "tournament-3",
                          "name": "The Players Championship",
                          "starts_at": "2025-03-13T08:00:00.000Z",
                          "finishes_at": "2025-03-16T18:00:00.000Z",
                          "description": "The Players Championship at TPC Sawgrass.",
                          "url": "https://example.com/players",
                          "cover_picture": "https://images.unsplash.com/photo-1592919505780-303950717480?w=400",
                          "gallery": [],
                          "holes": [],
                          "ads": [],
                          "proposed_entry_fee": 50,
                          "maximum_cut_amount": 30,
                          "maximum_score_generator": 80,
                          "players": [],
                          "created_at": "<timestamp>",
                          "updated_at": "<timestamp>"
                        },
                        {
                          "id": "tournament-4",
                          "name": "PGA Championship",
                          "starts_at": "2025-05-15T08:00:00.000Z",
                          "finishes_at": "2025-05-18T18:00:00.000Z",
                          "description": "The PGA Championship, one of golf's four major championships.",
                          "url": "https://example.com/pga",
                          "cover_picture": "https://images.unsplash.com/photo-1566577134770-3d85bb3a9cc4?w=400",
                          "gallery": [],
                          "holes": [],
                          "ads": [],
                          "proposed_entry_fee": 125,
                          "maximum_cut_amount": 60,
                          "maximum_score_generator": 110,
                          "players": [],
                          "created_at": "<timestamp>",
                          "updated_at": "<timestamp>"
                        }
                      ]
                    }
                  },
                  "Empty List": {
                    "summary": "Empty List",
                    "value": null
                  },
                  "data": {
                    "summary": "data",
                    "value": null
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "Server Error": {
                    "summary": "Server Error",
                    "value": {
                      "error": "Failed to fetch tournaments"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/users/me": {
      "get": {
        "summary": "Get User Profile",
        "description": "Get User Profile endpoint",
        "operationId": "get-user",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Complete Profile": {
                    "summary": "Complete Profile",
                    "value": null
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "No Profile (404)": {
                    "summary": "No Profile (404)",
                    "value": null
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "Server Error (500)": {
                    "summary": "Server Error (500)",
                    "value": null
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}